        
            <!-- Login -->
            <section class="login">
                <div class="mobile">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
                        Login
                      </button>
                      
                      <!-- Modal -->
                      <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">Acceso a miembros</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                      <label for="email">Email</label>
                                      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="myemail@dkpiles.es">
                                      <small id="emailHelp" class="form-text text-muted">Si no recuerdas tus credenciales, contacta con el club</small>
                                    </div>
                                    <div class="form-group">
                                      <label for="password">Contraseña</label>
                                      <input type="password" class="form-control" id="password" placeholder="Contraseña">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Acceder</button>
                                  </form>
                            </div>
                            <div class="modal-footer">

                              <section class="languages">
                                <img src="./assets/media/languages/bandera_esp.png" alt="Spain">
                                <img src="./assets/media/languages/bandera_ing.png" alt="England">
                                <img src="./assets/media/languages/bandera_fra.png" alt="France">
                                <img src="./assets/media/languages/bandera_ale.png" alt="German">                
                              </section>

                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>

                <div class="pc">
                    <form>
                        <div class="form-group">
                          <label for="email">Email</label>
                          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="myemail@dkpiles.es">
                          <small id="emailHelp" class="form-text text-muted">Si no recuerdas tus credenciales, contacta con el club</small>
                        </div>
                        <div class="form-group">
                          <label for="password">Contraseña</label>
                          <input type="password" class="form-control" id="password" placeholder="Contraseña">
                        </div>
                        <button type="submit" class="btn btn-primary">Acceder</button>
                      </form>
                </div>
            </section>

            <!-- News -->
            <section class="news">
                <div class="mobile">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newsModal">
                        Noticias
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="newsModal" tabindex="-1" role="dialog" aria-labelledby="newsModal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Noticias</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia qui tempore ad provident enim velit in placeat, impedit deserunt ut optio quis animi illo similique magnam! Facilis recusandae optio voluptates.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia qui tempore ad provident enim velit in placeat, impedit deserunt ut optio quis animi illo similique magnam! Facilis recusandae optio voluptates.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia qui tempore ad provident enim velit in placeat, impedit deserunt ut optio quis animi illo similique magnam! Facilis recusandae optio voluptates.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia qui tempore ad provident enim velit in placeat, impedit deserunt ut optio quis animi illo similique magnam! Facilis recusandae optio voluptates.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia qui tempore ad provident enim velit in placeat, impedit deserunt ut optio quis animi illo similique magnam! Facilis recusandae optio voluptates.</p>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="pc">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia qui tempore ad provident enim velit in placeat, impedit deserunt ut optio quis animi illo similique magnam! Facilis recusandae optio voluptates.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia qui tempore ad provident enim velit in placeat, impedit deserunt ut optio quis animi illo similique magnam! Facilis recusandae optio voluptates.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia qui tempore ad provident enim velit in placeat, impedit deserunt ut optio quis animi illo similique magnam! Facilis recusandae optio voluptates.</p>
                </div>


            </section>

            <!-- Windy -->
            <section class="windy">
                <div class="mobile">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#windyModal">
                        Windy
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="windyModal" tabindex="-1" role="dialog" aria-labelledby="windyModal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Windy Widget</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <iframe id="windyMobile" src="https://embed.windy.com/embed2.html?lat=38.960&lon=-0.106&detailLat=38.960&detailLon=-0.106&width=300&height=300&zoom=11&level=surface&overlay=wind&product=ecmwf&menu=&message=true&marker=true&calendar=now&pressure=&type=map&location=coordinates&detail=&metricWind=default&metricTemp=default&radarRange=-1" frameborder="0"></iframe>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>


                <div class="pc">
                    <iframe  id="windyPC" src="https://embed.windy.com/embed2.html?lat=38.960&lon=-0.106&detailLat=38.960&detailLon=-0.106&width=300&height=300&zoom=11&level=surface&overlay=wind&product=ecmwf&menu=&message=true&marker=true&calendar=now&pressure=&type=map&location=coordinates&detail=&metricWind=default&metricTemp=default&radarRange=-1" frameborder="0"></iframe>
                </div>
            </section>
 