<div class="social">
    <a href="#"><i class="icon ion-social-instagram"></i></a>
    <a href="#"><i class="icon ion-social-snapchat"></i></a>
    <a href="#"><i class="icon ion-social-twitter"></i></a>
    <a href="#"><i class="icon ion-social-facebook"></i></a>
</div>

<ul class="list-inline">
    <li class="list-inline-item"><a href="../index">Home</a></li>
    <li class="list-inline-item"><a href="../club">Club</a></li>
    <li class="list-inline-item"><a href="#">Términos de uso</a></li>
</ul>
<p class="copyright">DKPiles © 2021</p>