

<div class="mobile">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-dark btn-lg btn-block" data-toggle="modal" data-target="#footerModal">
        DKPiles © 2021
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="footerModal" tabindex="-1" role="dialog" aria-labelledby="footerModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Pie de página</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="social">
                    <a href="#"><i class="icon ion-social-instagram"></i></a>
                    <a href="#"><i class="icon ion-social-facebook"></i></a>
                    <a href="#"><i class="icon ion-social-twitter"></i></a>
                    <a href="#"><i class="icon ion-social-snapchat"></i></a>
                </div>
                
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="../index">Home</a></li>
                    <li class="list-inline-item"><a href="../club">Club</a></li>
                    <li class="list-inline-item"><a href="#">Términos de uso</a></li>
                </ul>
                <p class="copyright">DKPiles © 2021</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="pc">
    <div class="social">
        <a href="#"><i class="icon ion-social-instagram"></i></a>
        <a href="#"><i class="icon ion-social-facebook"></i></a>
        <a href="#"><i class="icon ion-social-twitter"></i></a>
        <a href="#"><i class="icon ion-social-snapchat"></i></a>
    </div>
    
    <ul class="list-inline">
        <li class="list-inline-item"><a href="../index">Home</a></li>
        <li class="list-inline-item"><a href="../club">Club</a></li>
        <li class="list-inline-item"><a href="#">Términos de uso</a></li>
    </ul>
    <p class="copyright">DKPiles © 2021</p>
</div>