
    <section id="logo"></section>
    
    <section id="menu">
        <div class="mobile">
            <div class="menu-wrap">
                <input type="checkbox" class="toggler" disabled>
                
                <div class="hamburger" onclick="toggleBurger()"><div></div></div>
                <div class="menu" onclick="toggleBurger()">
                <div>
                    <nav>
                        <ul>
                            <li><a href="../index">Home</a></li>
                            <li><a href="../club">Club</a></li>
                            <li><a href="../fotos">Fotos</a></li>
                            <li><a href="../eventos">Eventos</a></li>
                            <li><a href="../contactar">Contactar</a></li>
                        </ul>
                    </nav>
                </div>
                </div>
            </div>
        </div>

        <div class="pc">
            <nav>
                <ul class="topnav">
                    <li><a href="../index">Home</a></li>
                    <li><a href="../club">Club</a></li>
                    <li><a href="../fotos">Fotos</a></li>
                    <li><a href="../eventos">Eventos</a></li>
                    <li><a href="../contactar">Contactar</a></li>
                </ul>
            </nav>
        </div>


    </section>
