nav.submenu {
	ul.topnav {
		background-color: var(--black);
		overflow: hidden;
		border-bottom-left-radius: 1rem;
		border-bottom-right-radius: 1rem;
		width: 100%;
		a {
			float: left;
			display: block;
			color: #f2f2f2;
			text-align: center;
			padding: 0.1rem;
			text-decoration: none;
			width: 25%;
			height: 2.5rem;
			border: 1px solid lightgrey;
			line-height: 2rem;
			&:hover {
				background-color: #ddd;
				color: black;
			}
		}
		a.subcurrent {
			background-color: var(--blue);
			color: white;
		}
	}
}
section.submain {
	display: table;
	margin: 0 auto;
	ul {
		* {
			list-style: initial;
		}
	}
	section.requisitos {
		margin: 0 auto;
		font-size: 120%;
		display: inline-block;
		ul {
			margin: 2rem 0 2rem 2rem;
		}
	}
	section.winds {
		img {
			width: 100%;
			height: auto;
		}
	}
}
section.beach {
	.mobileMenu {
		z-index: -1 !important;
	}
}
section.history {
	margin: 1rem;
	ul.directiva {
		margin: 2rem 0 2rem 2rem;
	}
}
span.lema {
	font-style: italic;
	font-size: larger;
}
button#downloadDoc {
	white-space: normal;
}
section.nauticalOffers {
	margin-top: 2rem;
	.mobileMenu {
		z-index: -1 !important;
	}
}
@media (min-width: 768px) {
	main {
		padding-top: 0 !important;
	}
	section.submain {
		section.requisitos {
			font-size: 150%;
		}
	}
}