section.containerContact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "cfo"
                         "clo";
}

section.containerContact > section{
    margin: 1rem 0;
}

section.containerContact section.contactForm {
    grid-area: cfo;
}

section.containerContact section.clubLocation{
    grid-area: clo;
}


section.containerContact section.contactForm h2 {
    display: none;
}

section.containerContact section.clubLocation > iframe{
    width: 100%;
    height: 50vh;
}


@media (min-width: 768px) {
    main{
        margin: 0;
    }

    section.containerContact > section{
        border: 1px solid var(--oceanic-blue);
        border-radius: 1rem;
        padding: 1rem;
        background-color: lightgrey;
    }

    section.containerContact {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "cfo clo";
    }

    section.containerContact section.contactForm {
        margin-right: 1rem;
    }

    section.containerContact section.contactForm h2 {
        display: block;
    }

    section.containerContact section.clubLocation {
        margin-left: 1rem;
    }

    section.containerContact section.clubLocation > iframe{
        height: 80vh;
    }
}
