.mobileMenu {
	z-index: -1 !important;
}
.scrollable {
	overflow: hidden !important;
	overflow-y: auto !important;
	-webkit-overflow-scrolling: touch !important;
}
.eapps-instagram-feed-posts-grid-load-more-text-visible {
	cursor: pointer;
	color: #fff;
	background-color: var(--blue);
	box-shadow: 0 9px #999;
	border: 1px solid lightgrey;
	border-radius: 1rem;
	&:active {
		background-color: #109499;
		box-shadow: 0 5px #666;
		transform: translateY(4px);
	}
}
.eapps-instagram-feed-posts-grid-load-more {
	background: none !important;
}